@{
    ViewBag.Title = "IndexJobOrder";
}

<h2>JobOrder</h2>
<script src="@Url.Content("~/Scripts/CUDS/JobOrder/IndexJobOrder.js")" type="text/javascript"></script>
@* ------------------------------- grid  -------------------------------*@
<table class="barattach-2">
    <tr>
        <td>
            <div class="topicattach-2">Search : <input id="searchInput" placeholder="Type To Filter"><br /></div>
            <a href="/JobOrder/CreateJobOrder"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" class="imgadd" /></a>
        </td>
    </tr>
</table>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="bgthead">
            <tr>
                <th>No.</th>
                <th>Job No.</th>
                <th>วันที่</th>
                <th>ลูกค้า</th>
                <th>เบอร์โทร</th>
                <th class="hideANDseek">บุคคลติดต่อ</th>
                <th class="hideANDseek">ผู้ประสานงาน</th>
                <th class="hideANDseek">หมายเหตุ</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result">
        </tbody>
    </table>
</div>

@* ------------------------------- grid  -------------------------------*@
