@{
    ViewBag.Title = "IndexRptBorrow";
}

<script src="@Url.Content("~/Scripts/CUDS/Report/IndexReportBorrow.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
@* ------------------------------- grid  -------------------------------*@
<table class="barattach-2">
    <tr>
        <td>
            <div class="topicattach-2">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
<div class="table-responsive">
    <table id="tblRptBorrow" class="table table-striped scrolling" onended="SetPaging()">
        <thead class="bgthead">
            <tr>
                <th class="Rowpointer">No.</th>
                <th class="Rowpointer">Job No.</th>
                <th class="Rowpointer">วันที่</th>
                <th class="Rowpointer">ลูกค้า</th>
                <th class="Rowpointer">เบอร์โทร</th>
                <th class="hideANDseek Rowpointer">บุคคลติดต่อ</th>
                <th class="hideANDseek Rowpointer">ผู้ประสานงาน</th>
                <th class="hideANDseek Rowpointer">หมายเหตุ</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
