@{
    ViewBag.Title = "IndexProductAdjust";
}

@*<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/CUDS/ProductAdjustment/IndexProductAdjustment.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #9fa694 !important;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #7a8775;
            font-weight: bold;
        }

    #result {
        font-family: serif;
    }
</style>

<table class="barattach-2">
    <tr>
        <td>
            <label class="topicmargin-size70">Stock Adjust</label>
            <a href="/ProductAdjust/CreateProductAdjust"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="StockAdjustCreate" /></a>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
<div class="table-responsive">
    <table id="tblProductAdjust" class="table table-striped scrolling">
        <thead class="bgthead">
            <tr>
                <th class="thgray Rowpointer">No.</th>
                <th class="thgray hidecolumn">ID</th>
                <th class="thgray Rowpointer">วันที่รับเข้า</th>
                <th class="thgray Rowpointer">Code</th>
                <th class="thgray hideANDseek Rowpointer">หมายเลขเครื่อง</th>
                @*<th class="hideANDseek Rowpointer">ประเภทสินค้า</th>*@
                <th class="thgray hideANDseek Rowpointer">รายการเครื่องมือ</th>
                <th class="thgray hideANDseek Rowpointer">ยี่ห้อ</th>
                <th class="thgray hideANDseek Rowpointer">รุ่น</th>
                <th class="thgray Rowpointer">ขนาด</th>
                <th class="thgray Rowpointer">คงเหลือ</th>
                <th class="thgray hideANDseek Rowpointer">หน่วยนับ</th>
                @*<th class="hideANDseek Rowpointer">หน่วยนับ</th>*@
                <th class="thgray"></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>