@{
    ViewBag.Title = "EditEmployee";
}

<h2>Technician Edit</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Teachnician List", "IndexEmployee")
        </td>
    </tr>
</table>

<div id="myModal">
    @using (Html.BeginForm())
    {
        //===================================================================CSS w3school
        <form>
            <ul class="form-style">
                <li>
                    <label>TechnicianID<span class="required">*</span></label>
                    <input type="text" name="field1" class="field-divided" placeholder="T0008" disabled />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="HR Code" disabled/>
                </li>

                <li>
                    <label>ชื่อ - นามสกุล</label>
                    <input type="text" name="field1" class="field-divided" placeholder="ชื่อ" disabled />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="นามสกุล" disabled/>
                </li>
                <li>
                    <label>ประเภทพนักงาน</label>
                    <select name="field4" class="field-select-medium" disabled>
                        <option value="Advertise">พนักงานประจำ</option>
                        <option value="Partnership">พนักงานชั่วคราว</option>
                    </select>
                    &nbsp;<input type="text" name="field2" class="field-divided" placeholder="เลขบัตรประชาชน" disabled />
                </li>
                <li><label class="label-big-2">Position</label>&nbsp;<label class="label-small">เกรด</label></li>
                <li>
                    <input type="text" name="field2" class="field-divided" placeholder="Position" disabled />&nbsp;<select name="field4" class="field-select-small-2" disabled>
                        <option value="Advertise">A</option>
                        <option value="Partnership">B</option>
                        <option value="Partnership">C</option>
                        <option value="Partnership">D</option>
                    </select>
                </li>
                <br />
            </ul>
            @*//===================================================================CSS Jquery*@
            <table class="tabbar">
                <tr>
                    <td>
                        <div id="container">
                            <div id="parentHorizontalTab">
                                <ul class="resp-tabs-list hor_1">
                                    <li>Card</li>
                                    <li>Skill</li>
                                    <li>Attach File</li>
                                </ul>
                                <div class="resp-tabs-container hor_1">
                                    <div>
                                        <div class="grigbar">
                                            <table class="table table-striped">
                                                <thead class="bgthead">
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>บริษัท</th>
                                                        <th>ประเภทบัตร</th>
                                                        <th>วันออกบัตร</th>
                                                        <th>วันหมดอายุ</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>บริษัท1</td>
                                                        <td>ประเภท1</td>
                                                        <td>17/12/2015</td>
                                                        <td>17/12/2016</td>

                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>หจก.1</td>
                                                        <td>ประเภท2</td>
                                                        <td>17/12/2015</td>
                                                        <td>17/12/2016</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>หจก.2</td>
                                                        <td>ประเภท3</td>
                                                        <td>17/12/2015</td>
                                                        <td>17/12/2016</td>

                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>บริษัท2</td>
                                                        <td>ประเภท4</td>
                                                        <td>17/12/2015</td>
                                                        <td>17/12/2016</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="grigbar">
                                            <table class="table table-striped">
                                                <thead class="bgthead">
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Skill</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Skill1</td>

                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Skill2</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Skill3</td>

                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Skill4</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="grigbar">
                                            <table class="table table-striped">
                                                <thead class="bgthead">
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>File Name</th>
                                                        <th>Doc Type</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>File1</td>
                                                        <td>ประเภท1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>File2</td>
                                                        <td>ประเภท2</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>File3</td>
                                                        <td>ประเภท3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>File4</td>
                                                        <td>ประเภท4</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    }
</div>


<script>
    $(document).ready(function () {

        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

    });
</script>
