@{
    ViewBag.Title = "IndexReportBreakDownCost";
}

@*<h2>IndexReportBreakDownCost</h2>*@
<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/Report/IndexReportBDC.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        width: 400px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>
<table class="barattach-2">
    <tr>
        <td>
            <label class="topicmargin-size60-2">BreakDownCost</label>
            @*<a href="/BDC/CreateBDC"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="BDCCreate" /></a>*@
            <input id="chkShowAll" type="checkbox" class="chkShowAllinput" onchange="GetChecked(this)">
            <label for="chkShowAll" class="chkShowAll">Show All</label>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>

<div class="table-responsive">
    <table id="tblRptBDC" class="table table-striped scrolling" onended="SetPaging()">
        <thead class="bgthead">
            <tr>
                <th class="Rowpointer">No.</th>
                <th class="hidecolumn">ID</th>
                <th class="Rowpointer">Doc Version</th>
                <th class="Rowpointer">ใบเสนอราคา</th>
                <th class="gvPrice Rowpointer">ราคาขาย</th>
                <th class="gvCost Rowpointer">ราคาทุน</th>
                <th class="gvProfit Rowpointer">กำไร</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
