@{
    ViewBag.Title = "IndexManpower";
}

<h2>Manpower (J00002)</h2>
<table class="table table-striped">
    <thead class="bgthead">
        <tr>
            <th>No.</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ประเภทพนักงาน</th>
            <th>บัตร</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ชื่อ นามสกุล1</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ชื่อ นามสกุล2</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ชื่อ นามสกุล2</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง2</td>
        </tr>
    </tbody>
</table>
