@{
    ViewBag.Title = "EditUser";
}

@*<h2>EditUser</h2>*@
<script src="@Url.Content("~/Scripts/CUDS/User/EditUser.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    table {
        background: #fbfbf1;
        width: 335px;
    }

    .btn-xs {
        padding: 1px 1px;
        width: 20px;
    }
</style>
@*<table>
    <tr>
        <td>
            <div class="linkstyle">@Html.ActionLink("User List", "IndexUser")</div>
        </td>
    </tr>
</table>*@
<div id="myModal">
    @using (Html.BeginForm())
    {
        //===================================================================CSS w3school
        <form id="myform">
            <ul class="form-style-1">
                <li>
                    <label class="label-2" style="margin-right: 33%;">UserName<span class="required">*</span></label>&nbsp;<label class="label-2" style="margin-right: 10%;">Position</label>
                </li>
                <li>
                    <input type="text" id="txtUserName" name="field_1" class="field-divided width-190" disabled/>&nbsp;<input type="text" id="txtTitle" name="field1" class="field-divided width-45per" disabled />
                </li>
                <li>
                    <label class="label-2 marginright-43">ชื่อ</label>&nbsp;<label class="label-2" style="margin-right: 5%;">นามสกุล</label>
                </li>
                <li>
                    <input type="text" id="txtFirstName" name="field_1" class="field-divided width-190" disabled />&nbsp;<input type="text" id="txtLastName" name="field1" class="field-divided width-45per" disabled />
                </li>
                <li>
                    <label class="label-2 marginright-28">Department</label>&nbsp;<label class="label-2" style="margin-right: 5%;">Company</label>
                </li>
                <li>
                    <input type="text" id="txtDepartment" name="field_1" class="field-divided width-190" disabled />&nbsp;<input type="text" id="txtCompany" name="field1" class="field-divided width-45per" disabled />
                </li>
                <li>
                    <label class="label-2 marginright-36">E-mail</label>&nbsp;<label class="label-2" style="margin-right: 5%;">SecurityProfile</label>
                </li>
                <li>
                    <input type="text" id="txtEmail" name="field1" class="field-divided width-190" disabled />&nbsp;<select id="cmbSecurityProfile" name="cmbSecurityProfile" class="field-divided width-45per"></select>
                </li>
                <li>
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Isvalidate('Update', 'User', @Request.Params["id"])">Save</button>
                </li>
            </ul>
        </form>
    }
    @*//===================================================================CSS w3school*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var input = window.location.href;
        var after = input.split('?')[1]
        var val = after.split('=');
        var Isview = val[2];
        GetData(@Request.Params["id"]);
        ControlEnable(Isview);
    });
</script>
