@{
    ViewBag.Title = "IndexUser";
}


<script src="@Url.Content("~/Scripts/CUDS/User/IndexUser.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<table class="barattach-2">
    <tr>
        <td>
            <label class="topicmargin-size74">User</label>
            <a href="/User/CreateUser"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="imgAdminCreate" /></a>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
<div class="table-responsive">
    <table id="tblUser" class="table table-striped scrolling" onended="SetPaging()">
        <thead class="bgthead">
            <tr>
                <th class="Rowpointer">No.</th>
                <th class="hidecolumn">ID</th>
                <th class="Rowpointer">UserName</th>
                @*<th class="Rowpointer">Name</th>*@
                @*<th class="Rowpointer">Email</th>*@
                @*<th class="Rowpointer">UserStatus</th>*@
                <th class="Rowpointer">SecurityProfile</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>