@{
    ViewBag.Title = "SecurityProfile";
}

<script src="@Url.Content("~/Scripts/CUDS/SecurityProfile/IndexSecurityProfile.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
@* ------------------------------- Header -------------------------------*@
<style>
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #8ba5b7 !important;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    #result {
        font-family: serif;
    }
</style>
<table class="barattach-blue">
    <tr>
        <td>
            <label class="topicmargin-size58">Security Profile</label>
            <a href="/SecurityProfile/CreateSecurityProfile"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="imgSecurityCreate" /></a>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
@*//===================================================================CSS w3school*@
<table id="tblSecurityProfile" class="table tbblue table-striped-blue scrolling" onended="SetPaging()">
    <thead class="bgthead-blue">
        <tr>
            <th class="thblue Rowpointer txtcenter">No.</th>
            <th class="thblue hidecolumn">ID</th>
            <th class="thblue Rowpointer">Profile</th>
            <th class="thblue Rowpointer">First Page</th>
            <th class="thblue"></th>
        </tr>
    </thead>
    <tbody id="result"></tbody>
</table>