@{
    ViewBag.Title = "IndexProducts";
}
@*<h2>
    Products
</h2>*@
@* ------------------------------- grid  -------------------------------*@
<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/Products/IndexProducts.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        width: 400px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>
<table class="barattach-2">
    <tr>
        <td>
            <label class="topictable">Products</label>
            <a href="/Products/CreateProducts"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" class="imgadd" id="productscreateDisable" /></a>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="bgthead">
            <tr>
                <th>No.</th>
                <th class="hidecolumn">ID</th>
                <th>วันที่รับเข้า</th>
                <th>Code</th>
                <th class="hideANDseek">หมายเลขเครื่อง</th>
                <th class="hideANDseek">รายละเอียด</th>
                <th class="hideANDseek">ยี่ห้อ</th>
                <th class="hideANDseek">รุ่น</th>
                <th>ขนาด</th>
                <th>คงเหลือ</th>
                <th class="hideANDseek">หน่วยนับ</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
