 .hideANDseek
{
    display: grid;
}
 .hidecolumn
 {
     display: none;
 }
 @media screen and (max-width:680px) {
      .hideANDseek
     {
         display : none;
     }
      .hidecolumn
     {
         display: none;
     }
}