@{
    ViewBag.Title = "ExpiredTechnician1";
}
<script src="@Url.Content("~/Scripts/CUDS/Technician/TechnicianExpiredCard.js")" type="text/javascript"></script>
@*<section class="features">*@
    <table id="tblExpiredTechnician" class="table table-striped scrolling">
        <thead class="bgthead">
            <tr>
                <th>No.</th>
                <th class="hidecolumn">TechnicianID</th>
                <th>ชื่อ-นามสกุล</th>
                <th class="hideANDseek">ตำแหน่ง</th>
                <th>ประเภทพนักงาน</th>
                <th class="hideANDseek">เลขที่บัตร</th>
                <th>วันหมดอายุ</th>
                <th class="hidecolumn">ประเภทบัตร</th>
                <th>บริษัท</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody id="ExpiredCard"></tbody>
    </table>
@*</section>*@