@model AlphaMvc.Models.IncomeMaster
@{
    ViewBag.Title = "Create";
}

<h2>Master Income Create</h2>
<link href="@Url.Content("~/Content/editable/tablestyle.css")" rel="stylesheet" type="text/css" />
<div id="container">
    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style">
                <li>
                    <label>Detail<span class="required">*</span></label>
                    <input type="text" id = "Detail" class="field-divided" placeholder="Detail" />
                </li>              
            </ul>
            <br />

            <ul class="form-style">
                <li>
                    <input type="submit" value="Save" id="Create" />
                </li>
            </ul>
        </form>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#Create").click(function () {
            var dataObject = { Detail: $("#Detail").val() };
            $.ajax(
            {
                url: 'http://localhost:13131/api/IncomeMaster',
                type: 'POST',
                data: dataObject,
                datatype: 'json',

                success: function (result) {
                    alert('Create is completed')
                    window.location.href = "../IncomeMaster/Index";
                }
                ,
                error: function (msg) {
                    alert(msg)
                }
            });
        });
    });
</script>