@{
    ViewBag.Title = "IndexIncomeMaster";
}

<h2>Master Income</h2>
@* ------------------------------- Header -------------------------------*@
<table class="barattach-2">
    <tr>
        <td>
            <a href="/IncomeMaster/CreateIncomeMaster"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" class="imgadd-2" /></a>
            <div class="topicattach-2">Search : <input id="searchInput" placeholder="Type To Filter"><br /></div>
        </td>
    </tr>
</table>

<style>
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        width: 400px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>

    <table class="table table-striped">
        <thead class="bgthead">
            <tr>
                <th>No.</th>
                <th class="hidecolumn">ID</th>
                <th>รายละเอียด</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>


<script>
    $(document).ready(function () {
        //------------------------------------ Standard ------------------------------------
            //Sorting
            $('th').click(function () {
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc) { rows = rows.reverse() }
                for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
            })
            function comparer(index) {
                return function (a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index)
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
                }
            }
            function getCellValue(row, index) { return $(row).children('td').eq(index).html() }

            //filter
            $("#searchInput").keyup(function () {
                $("#result").find("tr").hide();
                var data = this.value.split(" ");
                var jo = $("#result").find("tr");
                $.each(data, function (i, v) {
                    jo = jo.filter("*:contains('" + v + "')");
                });
                jo.show();

            }).focus(function () {
                $(this).css({ "color": "black" });
                $(this).unbind('focus');
            }).css({ "color": "#C0C0C0" });

//------------------------------------ Custom ------------------------------------

            $.ajax(
            {
                url: 'http://localhost:13131/api/IncomeMaster',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    data = JSON.parse(data);
                    var html = '';
                    for (var i = 0; i < data.Table.length; i++) {
                        html += '<tr>';
                        html += '<td>' + data.Table[i].RowNum + '</td>';
                        html += '<td class="hidecolumn">' + data.Table[i].ID + '</td>';
                        html += '<td>' + data.Table[i].Detail + '</td>';
                        html += '<td>';
                        html += '<a href="/IncomeMaster/EditIncomeMaster?id=' + data.Table[i].ID + '" id="edit' + data.Table[i].ID + '">' + '<img src="@Url.Content("~/Images/edit.png")"/></a>';
                        html += '<a href="#" id="del' + data.Table[i].ID + '" onclick = " RowDelete(' + data.Table[i].ID + ') " >' + '<img src="@Url.Content("~/Images/delete.png")" /></a>';
                        html += '</td>';
                        html += '</tr>';
                    }
                    document.getElementById("result").innerHTML = html;

                },
                error: function (msg) {
                    alert(msg)
                }
            });

        });

    function RowDelete(id) {
        var dataObject = { ID: id };
        $.ajax(
            {
                url: 'http://localhost:13131/api/IncomeMaster',
                type: 'DELETE',
                data: dataObject,
                datatype: 'json',

                success: function (result) {
                    alert('Delete is completed')
                    window.location.href = "../IncomeMaster/IndexIncomeMaster";
                }
                ,
                error: function (msg) {
                    alert(msg)
                }

            });
        }
</script>
