@model AlphaMvc.Models.ExpenseMaster
@{
    ViewBag.Title = "CreateExpenseMaster";
}

<h2>Master Expense Create</h2>
<link href="@Url.Content("~/Content/editable/tablestyle.css")" rel="stylesheet" type="text/css" />

    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style">
                <li>
                    @Html.LabelFor(a => a.Detail)
                    @Html.TextBoxFor(a => a.Detail, new { id = "Detail" })
                    @Html.ValidationMessageFor(a => a.Detail)
                </li> 
            </ul>
            <br />
            <ul class="form-style">
                <li>
                    <input type="submit" value="Save" id="Save" />
                </li>
            </ul>
        </form>
    }

<script type="text/javascript">
    $(document).ready(function () {
        $("#Save").click(function () {
            var dataObject = { Detail: $("#Detail").val() };
            $.ajax(
            {
                url: 'http://localhost:13131/api/ExpenseMaster/Post',
                type: 'POST',
                data: dataObject,
                datatype: 'json',

                success: function (data) {
                    alert('Created Successfully');
                    window.location.href = "../ExpenseMaster/IndexExpenseMaster";
                },
                error: function (msg) { alert(msg); }
            });
        });
    }); 
</script>