@model AlphaMvc.Models.ExpenseMaster
@{
    ViewBag.Title = "CreateExpenseMaster";
}

<h2>Master Expense Create</h2>
<script src="@Url.Content("~/Scripts/CUDS/ExpenseMaster/CreateExpenseMaster.js")" type="text/javascript"></script>
<!-- Modal -->
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

@using (Html.BeginForm())
{
    //===================================================================CSS w3school
    <form>
        <ul class="form-style">
            <li>
                <label>Detail<span class="required">*</span></label>
                <input type="text" id="Detail" class="field-divided" placeholder="Detail" />
            </li>
        </ul>
        <br />
        <ul class="form-style">
            <li>

                <button type="button" class="btn btn-primary" onclick="ConfirmDialog('Create','ExpenseMaster',0)">Save</button>
            </li>
        </ul>
    </form>

}