@model AlphaMvc.Models.ExpenseMaster
@{
    ViewBag.Title = "EditExpenseMaster";
}

@*<h2>Master Expense Edit</h2>*@
<script src="@Url.Content("~/Scripts/CUDS/ExpenseMaster/EditExpenseMaster.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style">
                <li>
                    <label class="label-small-22">Expense Group</label>&nbsp;<label class="label-2">Detail<span class="required">*</span></label>
                    <select id="cmbExpenseGroup" class="field-divided text-floatleft text-size180" required></select>&nbsp;<input type="text" id="txtDetail" class="field-divided text-size180" placeholder="" />
                </li>
                <li>
                    <label>Price List<span class="required">*</span></label>
                    <input type="text" id="txtPricelist" class="field-divided text-floatleft text-size120 text-right" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" value="0" onblur="convertFloat('#txtPrice')"/>&nbsp;<label>Bath</label>
                </li>
                <li>
                    <label>Sequence<span class="required">*</span></label>
                    <input type="text" id="txtSeq" class="field-divided text-size40 text-right" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 110" value="1" />
                </li>
                <li>
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Isvalidate('Update', 'ExpenseMaster', @Request.Params["id"])">Save</button>
                </li>
            </ul>
            <ul class="form-style">
                <li>
                    
                </li>
            </ul>
        </form>

    }

<script type="text/javascript">

    $(document).ready(function () {
        var input = window.location.href;
        var after = input.split('?')[1]
        var val = after.split('=');
        var Isview = val[2];

        GetData(@Request.Params["id"]);
        ControlEnable(Isview);
    });

</script>