@{
    ViewBag.Title = "IndexExpenseMaster";
}

@*<h2>Master Expense</h2>*@
<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/ExpenseMaster/IndexExpenseMaster.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


@* ------------------------------- Header -------------------------------*@
<table class="barattach-2">
    <tr>
        <td>
            <label class="topicmargin-size67">Master Expense</label>
            <a href="/ExpenseMaster/CreateExpenseMaster"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="imgAdminCreate" /></a>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>

<table id="tblExpenseMaster" class="table table-striped scrolling" >
    <thead class="bgthead">
        <tr>
            <th class="Rowpointer">No.</th>
            <th class="hidecolumn">ID</th>
            <th class="Rowpointer">รายละเอียด</th>
            <th class="Rowpointer">ราคา</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="result"></tbody>
</table>


