@{
    ViewBag.Title = "IndexBDC";
}

@*<h2>BreakDownCost</h2>*@
@*<br />*@
@* ------------------------------- grid  -------------------------------*@
<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/BDC/IndexBDC.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<table class="barattach-2">
    <tr>
        <td>
            <label class="topicmargin-size60-2">Estimate Price</label>
            <a href="/BDC/CreateBDC"><img src="@Url.Content("~/images/btnAdd.png")" alt="IMAGES" id="BDCCreate"/></a>
            <input id="chkShowAll" type="checkbox" class="chkShowAllinput" onchange="GetChecked(this)">
            <label for="chkShowAll" class="chkShowAll">Show All</label>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>

<div class="table-responsive">
    <table id="tblBDC" class="table table-striped scrolling" onended="SetPaging()">
        <thead class="bgthead">
            <tr>
                <th class="Rowpointer">No.</th>
                <th class="hidecolumn">ID</th>
                <th class="Rowpointer">Revise</th>
                <th class="Rowpointer">ใบเสนอราคา</th>
                <th class="Rowpointer">ลูกค้า</th>
                <th class="gvPrice Rowpointer">ราคาขาย</th>
                <th class="gvCost Rowpointer">ราคาทุน</th>
                <th class="gvProfit Rowpointer">กำไร</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>
