@{
    ViewBag.Title = "EditBorrow";
}

<h2>Borrow Edit</h2>
<script src="@Url.Content("~/Scripts/CUDS/JobOrderBorrow/EditJobOrderBorrow.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    table {
        background: #fbfbf1;
        width: 335px;
    }
</style>

<div id="myModal">
    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Serial <span class="required">*</span></label>
                    <input type="text" id="txtSerial" name="field1" class="field-divided" placeholder="Serial" />
                </li>
                <li>
                    <label class="label-small">ยี่ห้อ</label>&nbsp;<label class="label-small-3">รุ่น</label>
                </li>
                <li>
                    <input type="text" id="txtBrand" name="field1" class="field-select-small" placeholder="ยี่ห้อ" />&nbsp;<input type="text" name="field2" id="txtModel" class="field-select-small" placeholder="รุ่น" />
                </li>
                <li>
                    <label class="label-small">ขนาด</label>&nbsp;<label class="label-small-3">จำนวนที่ยืม</label>
                </li>
                <li>
                    <input type="text" id="txtSize" name="field1" class="field-select-small" placeholder="ขนาด" />&nbsp;<input type="text" name="field2" id="txtAmount" class="field-select-small" placeholder="จำนวน" />
                </li>

                <li>
                    <label>หมายเหตุ<span class="required">*</span></label>
                    <textarea name="field5" id="txtRemark" class="field-long field-textarea"></textarea>
                </li>

            </ul>
            <ul class="form-style-3">
                <li>
                    <label>คืน:</label>
                </li>
                <li>
                    <label class="label-small-2">ดี</label>&nbsp;<label class="label-small-2">หาย</label>&nbsp;<label class="label-small">ซ่อม</label>&nbsp;<label class="label-small-2">ชำรุด</label>
                </li>
                <li>
                    <input type="text" id="txtReturnGood" name="field6" class="field-select-small" placeholder="ดี" />&nbsp;<input type="text" name="field6" id="txtReturnLost" class="field-select-small" placeholder="หาย" />&nbsp;<input type="text" id="txtReturnRepair" name="field7" class="field-select-small" placeholder="ซ่อม" />&nbsp;<input type="text" id="txtReturnBad" name="field8" class="field-select-small" placeholder="ชำรุด" />
                </li>
                <li>
                    <button type="button" class="btn btn-primary" onclick="ConfirmDialog('Update', 'JobOrderBorrow', @Request.Params["id"])">Save</button>
                </li>
            </ul>
        </form>
    }
</div>
<script type="text/javascript">

    $(document).ready(function () {

        GetData(@Request.Params["id"]);

    });

</script>
