@{
    ViewBag.Title = "IndexWageTeachnician";
}

<script src="@Url.Content("~/Scripts/CUDS/WageTechnician/IndexWageTechnician.js")" type="text/javascript"></script>
<table class="barattach-2">
    <tr>
        <td>
            <label class="topictable">WageTeachnician</label>
            <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
        </td>
    </tr>
</table>
<table id="tblWageTechnician" class="table table-striped scrolling">
    <thead class="bgthead">
        <tr>
            <th>No.</th>
            <th class="Rowpointer">TechnicianID</th>
            <th class="hideANDseek Rowpointer">HRID</th>
            <th class="Rowpointer">FullName</th>
            <th class="Rowpointer">Position</th>
            <th class="hideANDseek Rowpointer">Type</th>
            @*<th class="hideANDseek Rowpointer">Grade</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody id="result"></tbody>
</table>